{% extends "layouts/app.twig" %}


{% block content %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                Contact
            </div>
            <div class="panel-body">
                <p>Thanks for the Feedback. We will get back to you shortly.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}